/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --text-color: #000000;
    --bg-color: #fff;
    --background:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px ), 
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px ), 
    linear-gradient( #e7e7e7 0%, #e7e7e7 0.1%, #1a1a1a 100% );
    --bg-color-card: #fff; 
    --header-border: 2px solid #000;
    --border: 2px solid #000;
    --hover-color-text: #000000;
    --main-fonts: "Inter-Flex-Variable";
    --accent-fonts: "Press Start 2P";
    --disablet-color: rgba(0, 0, 0, 0.6);
    --hover-menu-button: rgba(0, 0, 0, 0.6);
    --focus-color-element:rgba(0, 0, 0, 0.6);
    --shadow-color: #fff;
    --focus-color-card-button: #000;
    --bg-color-btn: #fff;
    --color-btn-before: #000;
    --color-btn-span: #fff;

    --color-usual: #000;
    --color-accent: #FF0000;
    --hover-heart-icon: #000;

    --dialog-color: #000;

    --font-weight-title: "wght" 700;
    --font-weight-text: "wght" 400;
}